.lebron{
    width: 100%;
    height: auto;
}
#mainMenu .nav-link{
    color: #17A2B8 ;
}
#mainMenu .nav-link:hover{
    background: #17A2B8 ;
    color: black;
    border-radius: 5px;
}
#mainMenu .nav-link:active{
    background: #17A2B8 ;
    color: black;
    border-radius: 5px;
}
#spaced{
    height: 25rem;
}
#contact{
    width: 70%;
    margin-top: 10rem; 
}
.footer ul a {
    color: black;
    text-decoration: none;
    
}